node_modules/
firebase-config.js
tmp/
src/styles/Navbar copy.css
Navbar copy.css
/src/components/EditQuestion copy.js
/src/pages/EditPage copy 2.js
/src/pages/EditPage copy.js
/src/pages/FillInPage copy.js
/src/pages/ResultPage copy.js
/src/styles/FillInPage copy.css
/src/styles/Navbar copy.css

