#editpage_main_left{
    display: grid;
        justify-items: center;
        width: 100%;
        grid-template-columns: 1fr;
        padding-left: 50px;
        padding-right: 50px;
        overflow-y: auto;
        height: calc(100vh - 100px);
        margin-top: 30px;

}

@media (max-width:800px) {
    #editpage_main_left {
        padding-left: 0;
    }
}