*{
    padding: 0;
    margin: 0;
    border: boder-box;
    font-family: 'Noto Sans TC';
}


body>div{
    display: grid;
    width: 100%;
    justify-items: center;
}

#navbar{
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 3px 0px -1px rgba(6,6,6,0.1);
    height: 40px;
    /* margin-bottom: 20px; */
}
#nav_btns{
    justify-self: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

#nav_btn_signin, #nav_btn_signup{
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #111827;
    min-width: 60px;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-align: center;
    vertical-align: baseline;
    box-shadow: 0 1px 3px 0 rgba(242, 167, 202, 0.26), 0 1px 2px 0 rgba(217, 200, 209, 0.9);
    cursor: pointer;
    touch-action: manipulation;
}

#nav_btn_signin >a,
#nav_btn_signup >a{
    text-decoration: none;
    color: #111827;
    font-size: 16px;
    font-weight: 500;
}
#nav_btn_signin:hover, #nav_btn_signup:hover {
    background-color: #F7D6DB;
}

#nav_btn_signin:focus, #nav_btn_signup:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

#nav_btn_signin:focus-visible, #nav_btn_signup:focus-visible {
    box-shadow: none;
}

#nav_logo{
    display: grid;
    align-items: center;
}

.pplogo{
    height: 40px;
    /* width: 100px; */
}
