#qus{
    width: 100%;
    display: grid;
    justify-items: center;
    row-gap: 10px;
    margin-top: 5px;
}

#qus >input{
    width: calc(100% - 1.2rem);
    outline: none;
    font-size: 16px;
    padding: .5rem .6rem;
}

.qus_title{
    border: solid #888;
    border-width: 0px 0px 1px 0px ;
    margin-bottom: 5px;
}