#qus{
    width: 100%;
    display: grid;
    justify-items: center;
    row-gap: 10px;
    margin-top: 5px;
}

.qus >input{
    font-size: 16px;
    padding: .2rem .6rem;
    border: solid #888;
    border-width: 0px 0px 1px 0px;
    margin-right: 20px;
}

.qus_title{
    border: solid #888;
    border-width: 0px 0px 1px 0px ;
    margin-bottom: 5px;
}