body > div{
    width: 100%;
}

#resultpage{
    width: 100%;
    display: grid;
    justify-items: center;
    color: #666;
    background-color: #EEE;
    height: 100vh;
}

#resultpage_content{
    width: 75%;
    max-height: calc(100vh - 34px);
    overflow-y: auto;
}

.result_oneque_A{
    background-color: #FAFAFA;
    margin-bottom: 2px;
    padding: 30px;
    display: grid;
    grid-template-rows: 1rem fit-content auto;
}


.result_que_A{
    color: rebeccapurple;
    font-size: .9rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    vertical-align: baseline;
    display: grid;
}

.result_oneans_A{
    color: #666;
    font-size: .7rem;
    font-weight: 600;
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.pie{
    width: 40%;
    margin-top: 20px;
    padding: 20px;
}
