    input {
        outline: none;
    }

    .signpage {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        background: linear-gradient(to right, #fff 0%, #fff 42%, rgb(250, 250, 250) 42%, rgb(250, 250, 250) 100%);
        display: grid;
        justify-items: center;
    }

    .signpage_main {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 55%;
    }

    .signpage_main_right {
        display: grid;
        justify-items: center;
        align-content: center;
    }

    .signbk1 {
        width: 100%;
        height: 90vh;
    }

    .signpage_main_left {
        display: grid;
        justify-items: center;
        align-content: center;
        width: 100%;
    }

    .sign_form {
        width: 300px;
        display: grid;
        justify-items: center;
        align-content: center;
        padding-left: 20%;
    }

    .form_column {
        font-size: .9rem;
        font-weight: 600;
    }

    .second_title {
        font-size: .5rem;
        font-weight: 500;
        cursor: pointer;
    }

    .hint {
        color: rgb(233, 0, 0);
        font-size: .5rem;
        font-weight: 500;
        margin-top: 5px;
    }

    .sign_btn {
        font-size: .5rem;
    }

    .sign_btn>a {
        color: #666;
        text-decoration: none;
        font-weight: 600;
    }

    .sign_form>form {
        width: 300px;
        display: grid;
        justify-items: center;
        align-content: center;
        row-gap: 10px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .sign_input {
        width: 300px;
        margin-top: 8px;
        margin-bottom: 8px;
        height: 28px;
        background-color: #FFFFFF;
        border: 1px solid #F7DEDC;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: .5rem;
        padding: .4rem 1rem;
        text-align: left;
        vertical-align: baseline;
        outline: none;
        touch-action: manipulation;
    }


    .sign_form>div>button,
    .sign_form>form>button {
        width: 300px;
        height: 30px;
        margin-top: 10px;
        background-color: #FFFFFF;
        border: 0;
        border-radius: 5px;
        box-sizing: border-box;
        color: #111827;
        font-size: .8rem;
        font-weight: 600;
        text-align: center;
        vertical-align: baseline;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        touch-action: manipulation;
    }

    .sign_form>div {
        width: 300px;
        display: grid;
        justify-items: center;
        align-content: center;
        row-gap: 8px;
    }

    .sign_form>div>div {
        width: 300px;
        display: grid;
        grid-template-columns: 90px auto;
    }

    @media (max-width:1280px) {

        .sign_form,
        .sign_form>form,
        .sign_form>div,
        .sign_form>div>div,
        .sign_form>div>button,
        .sign_form>form>button,
        .sign_form>form,
        .sign_input {
            width: 230px;
        }

        .sign_form {
            padding-left: 15%;
        }
    }

    @media (max-width:800px) {
        .signpage_main {
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .signpage {
            background: linear-gradient(to right, #fff 0%, #fff 48%, rgb(250, 250, 250) 48%, rgb(250, 250, 250) 100%);
        }
    }

    @media (max-width:600px) {

        .signpage {
            background: #FAFAFA;
            display: block;
        }

        .signpage_main {
            grid-template-columns: 1fr 0;
        }

        .signpage_main_right {
            display: none;
        }

        .signbk1 {
            display: none;
        }

        .signpage_main_left {
            margin-top: 10vh;
        }

        .sign_form {
            padding-left: 0;
        }
    }